<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Exercise list</title>
    <link href="~/Content/Semantic-UI-CSS-master/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/Content/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="~/Scripts/Index.js"></script>
</body>
</html>
