@model ICCompatition.Models.ExerciseViewModel
<div class="ui modal" id="MyModal">
    <div class="header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 id="ModalTitle"></h4>
    </div>
    <div class="content">
        <form id="form" class="ui form">
            <fieldset id="SubmitForm" class="field">

                @Html.HiddenFor(m => m.Id, new { @id = "Id" })
                <div class="field">
                    <label>Exercise Name</label>
                    @Html.TextBoxFor(m => m.ExerciseName, new { @id = "ExerciseName", @class = "form-control", @placeholder = "Exercise Name*" })
                </div>
                <div class="field">
                    <label>Exercise Date Time</label>
                    @Html.TextBoxFor(m => m.ExerciseDateTime, new { @id = "ExerciseDateTime", @class = "form-control", @placeholder = "eg. 2017-10-10 Format(YYYY-MM-DD)*" })
                </div>
                <div class="field">
                    <label>Exercise Duration In Minutes</label>
                    @Html.TextBoxFor(m => m.DurationInMinutes, new { @id = "DurationInMinutes", @class = "form-control", @placeholder = "Range between (1~120)*" })
                </div>
                <div class="modal-footer">
                    <a href="#" class="ui cancel button" data-dismiss="modal">Cancle</a>

                    <div class="ui submit button" id="SaveRecord">Save</div>
                    <div class="ui error message"></div>
                </div>
                <div id="info"></div>
            </fieldset>
        </form>
    </div>
</div>
